*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "DM sans", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  background-color: rgb(86, 128, 255);
}

li {
  list-style: none;
}

.background-color-yellow {
  background-color: rgb(237, 236, 185);
}

.background-color-green {
  background-color: rgb(105, 219, 162);
}

.background-color-light-green {
  background-color: rgb(255, 246, 235);
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}
.btn {
  font-family: "DM sans", sans-serif;
  padding: 1rem 1.6rem;
  border-radius: 100px;
  font-size: 1.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8rem;
  text-decoration: none;
}
.mb-xs {
  margin-bottom: 0.8rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-big {
  margin-bottom: 4rem;
}

.mb-large {
  margin-bottom: 8rem;
}

.mt-150 {
  margin-top: 15rem;
}

.ml-small {
  margin-left: 2rem;
}

.mr-small {
  margin-right: 2rem;
}

.pt-88 {
  padding-top: 8.8rem;
}

.padding-top-182 {
  padding-top: 18.2rem;
}

.pt-150 {
  padding-top: 15rem;
}

.pb-88 {
  padding-bottom: 8.8rem;
}

.pb-130 {
  padding-bottom: 13rem;
}

.pb-150 {
  padding-bottom: 15rem;
}

.pl-56 {
  padding-left: 5.6rem;
}

.pr-56 {
  padding-right: 5.6rem;
}

.business-header {
  font-size: 7.2rem;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 2rem;
  letter-spacing: 0.17rem;
}

.business-header-text {
  font-size: 2.4rem;
  line-height: 130%;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 112px;
  padding: 2rem 0;
}
.main-nav__logo {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  gap: 0.8rem;
}
.main-nav__class-list {
  display: flex;
  align-items: center;
}
.main-nav__link:not(last-child) {
  margin-right: 2rem;
}
.main-nav__link {
  font-size: 1.6rem;
  text-decoration: none;
  position: relative;
  color: black;
  padding-bottom: 5px;
}
.main-nav__link:hover::after {
  transform: scaleX(1);
}
.main-nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  transition: 0.25s ease-out;
  transform: scaleX(0);
  background-color: currentColor;
}
.main-nav__login {
  background-color: transparent;
  box-shadow: rgb(1, 0, 39) 0px 0px 0px 2px;
  color: black;
  font-weight: 600;
  margin-right: 1.4rem;
  margin-left: 1.4rem;
}
.main-nav__sign-up {
  background-color: black;
  border: black;
  height: 3.9rem;
  color: rgb(86, 128, 255);
  font-weight: 600;
}

.logo-img {
  height: 2.4rem;
  width: 2.4rem;
  transform: translateY(10%);
}

.underline::after {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(1);
  bottom: 0;
  left: 0;
}

header {
  transition: all 0.2s linear;
}
header:hover {
  background-color: rgb(1, 0, 39);
  color: rgb(86, 128, 255);
}
header:hover .main-nav__link, header:hover .main-nav__logo {
  color: rgb(86, 128, 255);
}
header:hover .main-nav__sign-up {
  background-color: rgb(86, 128, 255);
  color: rgb(1, 0, 39);
}
header:hover .main-nav__login {
  background-color: rgb(1, 0, 39);
  color: rgb(86, 128, 255);
  box-shadow: rgb(86, 128, 255) 0px 0px 0px 2px;
  transition: all 0.2s linear;
}
header:hover .main-nav__login:hover {
  background-color: rgb(86, 128, 255);
  color: rgb(1, 0, 39);
}

.business-grid-parent {
  display: grid;
  margin-right: 112px;
  margin-left: 112px;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  column-gap: 2rem;
  max-width: 1696px;
  position: relative;
}
.hero-heading {
  grid-column: 11/24;
}

.blue-square-1 {
  display: block;
  background-color: rgb(56, 105, 255);
  height: 28.9rem;
  width: 28.9rem;
  border-radius: 2rem;
  margin-bottom: 3.2rem;
}

.blue-square-2 {
  background-color: rgb(56, 105, 255);
  height: 43.3rem;
  width: 28.9rem;
  border-radius: 2rem;
}

.lamps {
  background-image: url("https://images.ctfassets.net/h67z7i6sbjau/6OQGlGHyq5Qc26X8lPyNYA/290b45638662be8c4705e205f29afb0b/Basics_hero-Pin-3_4_2x.jpg?fm=webp&q=85");
  height: 38.9rem;
  width: 28.9rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  position: relative;
  display: inline-block;
  grid-column: 4/span 3;
  margin-bottom: 2rem;
}
.lamps-text {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  height: 9rem;
  padding: 2.4rem 1.5rem 2.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.business-grid-item--start-1-11 {
  grid-column-start: 11;
}
.business-grid-item--start-2 {
  grid-column-start: 2;
}
.business-grid-item--start-3 {
  grid-column-start: 3;
}
.business-grid-item--start-4 {
  grid-column-start: 4;
}
.business-grid-item--start-6 {
  grid-column-start: 6;
}
.business-grid-item--start-12 {
  grid-column-start: 12;
}
.business-grid-item--start-13 {
  grid-column-start: 13;
}
.business-grid-item--start-14 {
  grid-column-start: 14;
}
.business-grid-item--start-16 {
  grid-column-start: 16;
}
.business-grid-item--span-4 {
  grid-column-end: span 4;
}
.business-grid-item--span-5 {
  grid-column-end: span 5;
}
.business-grid-item--span-6 {
  grid-column-end: span 6;
}
.business-grid-item--span-8 {
  grid-column-end: span 8;
}
.business-grid-item--span-9 {
  grid-column-end: span 9;
}
.business-grid-item--span-12 {
  grid-column-end: span 12;
}
.business-grid-item--span-10 {
  grid-column-end: span 10;
}

.blue-squares-box {
  position: absolute;
  left: -19rem;
  padding-top: 27rem;
}

.business-stat {
  background-color: rgb(12, 59, 201);
  padding: 5rem 3rem;
  width: 28.9rem;
  border-radius: 2rem;
}

.business-stat-number {
  font-size: 5rem;
  color: #fff;
  letter-spacing: -0.2rem;
}

.business-stat-text {
  width: 100%;
  color: #fff;
  font-size: 1.8rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.phone-box {
  background-repeat: no-repeat;
}
.phone-box img {
  max-width: 100%;
  max-height: 64rem;
}

.business-accordian-header {
  font-size: 6.4rem;
  font-weight: 500;
  color: rgb(45, 85, 255);
  letter-spacing: -0.005em;
  line-height: 115%;
  margin-top: 3rem;
  margin-bottom: 2.3rem;
  padding-bottom: 2.6rem;
}
.business-accordian p {
  padding-bottom: 2.4rem;
}
.business-accordian-text-box {
  color: rgb(45, 85, 255);
  font-size: 1.8rem;
  border-bottom: 1px solid rgb(45, 85, 255);
}
.business-accordian h4 {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  padding: 2.6rem 0;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.three-column-layout {
  padding-left: 5.6rem;
  padding-right: 5.6rem;
}

.three-column-header {
  font-size: 6.4rem;
  color: #2d55ff;
  font-weight: 500;
  line-height: 130%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}

.three-column-heading {
  font-size: 2.6rem;
  color: rgb(45, 85, 255);
  line-height: 110%;
  font-weight: 500;
  padding-bottom: 2rem;
  font-family: "DM Sans", sans-serif;
}
.three-column-heading + p {
  font-size: 1.8rem;
  color: rgb(45, 85, 255);
}

.three-column-icon {
  height: 6.4rem;
  width: 8.2rem;
  color: rgb(45, 85, 255);
  margin-bottom: 3rem;
}

.underline-p {
  border-bottom: 2px solid;
}

.three-column-subheader {
  font-size: 1.8rem;
}

.background-color-light-blue {
  background-color: rgb(198, 236, 235);
}

.support-header {
  font-size: 6.4rem;
  color: rgb(12, 88, 107);
}

.support-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(12, 88, 107);
}

.support-img {
  width: 100%;
  height: 100%;
}

.support-heading {
  font-size: 2.6rem;
  padding: 2rem 0;
}

.support-p {
  font-size: 1.8rem;
  margin-bottom: 3.4rem;
}

.support-btn {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  padding: 0 2.4rem;
  border-radius: 3rem;
  box-shadow: rgb(12, 88, 107) 0px 0px 0px 2px;
  background-color: transparent;
  height: 6rem;
  font-weight: 600;
  border: none;
  color: rgb(12, 88, 107);
  transition: all 0.1s linear;
  cursor: pointer;
}
.support-btn:hover {
  background-color: rgb(12, 88, 107);
  color: rgb(198, 236, 235);
}

.inspiration__heading {
  font-size: 6.4rem;
  color: rgb(0, 92, 98);
  font-weight: 500;
}
.inspiration-img {
  display: inline-block;
  max-height: 100%;
  width: 28rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  object-fit: cover;
  background-size: cover;
  min-height: 28rem;
}
.inspiration-img-1 {
  height: 28rem;
}
.inspiration-img-2 {
  height: 49rem;
  background-image: url("");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  display: block;
}
.inspiration-img-3 {
  height: 49rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.inspiration-img-6 {
  height: 49rem;
}
.inspiration-img-7 {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.inspiration-img-8 {
  height: 49rem;
}

.business-pin-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 1404px;
}

.business-pin-grid {
  max-width: 1404px;
  padding: 8rem 0;
  margin: 0 auto;
}

.gallery-sub-text {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
  height: 10rem;
  padding: 2.4rem 1.5rem 2.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 2rem;
  font-weight: 500;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.gallery-sub-text-small {
  height: 7rem !important;
}

.img-text-container {
  position: relative;
  overflow-x: hidden;
}

.font-13 {
  font-size: 1.3rem;
}

.get-started {
  padding-bottom: 4rem;
}
.get-started__heading {
  font-size: 6.4rem;
  color: rgb(0, 92, 98);
  padding-bottom: 2.4rem;
  font-weight: 500;
}
.get-started__btn {
  color: rgb(0, 92, 98);
  text-decoration: none;
  display: flex;
  border-radius: 30px;
  height: 60px;
  min-width: 80px;
  padding: 0 24px;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  transition: all 0.2s;
  font-weight: 600;
}
.get-started__btn:hover {
  background-color: rgb(0, 92, 98);
  color: #fff;
}
.get-started__box {
  display: flex;
  justify-content: center;
}

.dark-green {
  background-color: rgb(0, 92, 98);
  color: #fff;
}

.outline-blue {
  box-shadow: rgb(0, 92, 98) 0px 0px 0px 2px;
}

/*# sourceMappingURL=style.css.map */
