*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: rgb(86, 128, 255);
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}

li {
  list-style: none;
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #6d5d4b;
}

.heading-3 {
  font-size: 1.6rem;
  color: rgb(86, 128, 255);
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #6d5d4b;
}

.btn {
  font-family: sans-serif;
  padding: 1rem 1.6rem;
  border-radius: 100px;
  font-size: 1.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8rem;
  text-decoration: none;
}
.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-big {
  margin-bottom: 4rem;
}

.mb-large {
  margin-bottom: 8rem;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 112px;
  padding: 2rem 0;
}
.main-nav__logo {
  display: flex;
  color: black;
}
.main-nav__class-list {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.main-nav__link {
  font-size: 1.6rem;
  text-decoration: none;
  position: relative;
  color: black;
  padding-bottom: 5px;
}
.main-nav__link:hover::after {
  transform: scaleX(1);
}
.main-nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  transition: 0.25s ease-out;
  transform: scaleX(0);
  background-color: currentColor;
}
.main-nav__login {
  background-color: transparent;
  box-shadow: rgb(1, 0, 39) 0px 0px 0px 2px;
  color: black;
}
.main-nav__sign-up {
  background-color: black;
  border: black;
  height: 3.9rem;
  color: rgb(86, 128, 255);
}

header {
  transition: all 0.2s linear;
}
header:hover {
  background-color: black;
  color: rgb(86, 128, 255);
}
header:hover .main-nav__link,
header .main-nav__logo {
  color: rgb(86, 128, 255);
}
header:hover .main-nav__sign-up {
  background-color: rgb(86, 128, 255);
  color: black;
}
header:hover .main-nav__login {
  background-color: black;
  color: black;
}

/*# sourceMappingURL=style.css.map */
