// COLOR VARIABLES
$color-blue-light: rgb(86, 128, 255);
$color-blue-dark: rgb(1, 0, 39);

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: sans-serif;
$font-display: sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px 1000/16
$bp-medium: 50em; // 800/16
$bp-small: 37.5em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  background-color: rgb(86, 128, 255);
}

li {
  list-style: none;
}
