header {
  transition: all 0.2s linear;

  &:hover {
    background-color: $color-blue-dark;
    color: $color-blue-light;
  }
  &:hover .main-nav__link, &:hover
  .main-nav__logo {
    color: $color-blue-light;
  }

  &:hover .main-nav__sign-up {
    background-color: $color-blue-light;
    color: $color-blue-dark;
  }
  &:hover .main-nav__login {
    background-color: $color-blue-dark;
    color: $color-blue-light;
    box-shadow: $color-blue-light 0px 0px 0px 2px;
    transition: all .2s linear;
    &:hover {
      background-color: $color-blue-light;
      color: $color-blue-dark;
    }
  }
}
