%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;

  line-height: 1;
}
.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light {
  }
  &--dark {
  }
}
.heading-3 {
  @extend %heading;
  font-size: 1.6rem;

  text-transform: uppercase;
}
.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
  }
  &--dark {
  }
}

.btn {
  font-family: $font-primary;
  padding: 1rem 1.6rem;
  border-radius: 100px;
  font-size: 1.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8rem;
  text-decoration: none;

  &:hover {
  }
}

.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-big {
  margin-bottom: 4rem;
}
.mb-large {
  margin-bottom: 8rem;
}

.ml-small {
  margin-left: 2rem;
}

.padding-top-182 {
  padding-top: 18.2rem;
}

.business-header {
  font-size: 7.2rem;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 2rem;
  letter-spacing: 0.17rem;
}

.business-header-text {
  font-size: 2.4rem;
  line-height: 130%;
}
